.personal {
    width: 100%;
    height: 100%;

    &__inner {
        margin-top: 72px;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    &__username {
        font-weight: 400;
        font-size: 51px;
        color: #fff;
        font-family: "Mohave", sans-serif;
    }

    &__my {
        border-radius: 25px;
        padding: 13px 27px;
        width: 262px;
        height: 46px;

        display: flex;
        align-items: center;
        justify-content: center;


        font-weight: 500;
        font-size: 20px;
        line-height: 100%;
        text-align: center;
        color: #fff;

        background-color: rgba(224, 181, 116, 0.6);
        ;
        cursor: pointer;

        font-family: "Inter", sans-serif;
        border: none;
        outline: none;
    }
}


.tables {
    display: flex;
    max-width: 1006px;
    justify-content: space-between;

    width: 100%;

    &__title {
        font-weight: 600;
        font-size: 31px;
        color: #fff;
        font-family: "Mohave", sans-serif;
    }
}

.table {
    flex-basis: 440px;


    &__inner {

        position: relative;
        padding: 26px;
        border-radius: 14px;
    }

    &__title {
        text-align: center;
        font-weight: 400;
        font-size: 31px;
        color: #fff;
        font-family: "Mohave", sans-serif;
    }


    &__background {
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        z-index: -1;
        background-color: #E0B574;
        opacity: 0.6;
        border-radius: 14px;

    }

    &__select {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__arrows {

        display: flex;
        column-gap: 46px;

    }

    &__arrow:nth-child(1) {
        transform: scale(-1);
    }


    &__lineBig {
        display: flex;
        justify-content: space-between;
    }


    &__lineSmall {
        display: flex;
        justify-content: center;
        column-gap: 63px;
    }


    &__date {
        font-weight: 500;
        font-size: 21px;
        color: #fff;
        font-family: "Mohave", sans-serif;
    }

    &__block {
        display: flex;
        flex-direction: column;
        row-gap: 7.8px;
        cursor: pointer;
    }

    &__first__layer,
    &__second__layer {
        display: flex;
        justify-content: center;
        column-gap: 2.23px;
    }

    &__plate {
        font-weight: 600;
        font-size: 23px;
        text-align: center;
        color: #fff;
        font-family: "Mohave", sans-serif;
        position: relative;
        padding: 15.63px 16.08px;

        &__background {
            transition: 1s;
            background: #7e643d;
            border-radius: 20px;
            box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            z-index: -1;
        }

        
    }

    /*   &__plate:hover {
        padding: 50.63px 16.08px;
    } */
    &__tables {
        display: flex;
        flex-direction: column;
        row-gap: 41.48px;

    }

    &__chair {
        border-radius: 3px;
        width: 21px;
        height: 12px;
        box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
        background: #7e643d;
        margin: 0 auto;
    }
}

.tables__title {
    font-weight: 500;
    font-size: 21px;
    color: #fff;

    font-family: "Mohave", sans-serif;
    white-space: nowrap;
    text-align: center;

}

.calendar {
    display: grid;

    grid-template-columns: repeat(7, 1fr);


    &__date {
        width: 56px;
        height: 56px;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;

        font-family: "Inter", sans-serif;
        font-weight: 400;
        font-size: 12px;
        text-align: center;
        color: #fff;
    }

    &__item {
        width: 56px;
        height: 56px;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 0.5px solid #fff;
        font-family: "Inter", sans-serif;
        font-weight: 400;
        font-size: 12px;
        text-align: center;
        color: #fff;
    }

    &__item__disable {
        width: 56px;
        height: 56px;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;

        font-family: "Inter", sans-serif;
        font-weight: 400;
        font-size: 12px;
        text-align: center;

        background: #bb904e;
        border: 0.5px solid #fff;
        color: #c7c7c7;
    }
}