* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.burger {
height: 50px;
width: 100%;
background-color: orange;
position: fixed;
z-index: 55;
display: flex;
align-items: center;
}
//main {
    .burger-main {
    padding: 50px;

}
p {
    margin: 20px 0;
}

.burger-btn {
width: 30px;
height: 30px;
margin-left: 20px;
position: relative;
z-index: 1111;
cursor: pointer;
}
.burger-btn  span {
    position: absolute;
    width: 30px;
    top: 15px;
    background-color: black;
    height: 2px;
}
.burger-btn::before {
    content: '';
    position: absolute;
    width: 30px;
    top: 0;
    background-color: black;
    height: 2px;
} 

.burger-btn::after {
    content: '';
    position: absolute;
   bottom: 0;
    width: 30px;
    background-color: black;
    height: 2px;
} 

.menu {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 50px;

    left: 0;
transform: translateX(-130%);
transition: 0.2s;
}
.active {
    transform: translateX(0%);
}
.blur {
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(2px);
    position: absolute;
    left: 30%;

}
.menu_content {
    width: 30%;
    height: 100%;
    background-color: black;
display: flex;
flex-direction: column;
align-items: center;
}

.menu_header {
font-size: 1.5rem;
color: white;
padding: 10px;
border-bottom: 1px solid white;
width: 100%;
text-align: center;
}
ul li a {
    color: white;
    text-decoration: none;
font-size: 34px;
}

ul {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
ul li {
    display: flex;
    align-items: center;
    margin: 10px;

}